.list {
    color: black;
    width: 50%;
    margin: 0 auto;
    box-shadow: 0px 2px 13px 0px #47474a;
    border-radius: 8px;
    padding: 30px;
    font-weight: bold;
}
.listitem {
    display: flex;
    gap: 20px;
    margin-bottom: 15px;
    font-size: 20px;
}
.checkbox{
    flex: 1;
}
.checklistitem {
    flex: 10;
}
.spinner-container {
    text-align: center;
}

@media screen and (max-width : 460px) {
    
    .list {
        width: 98%;
        border: none;
    }
}